# Gradle
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# RetroFuturaGradle dev environment
run/
logs/
crash-reports/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
.old/*
